{%  assign myString="1234" %}
{{ myString }}

{% assign myNumber=123.45 %}
{{ myNumber}}
<br>

{% assign myBoolean=true %}
{{ myBoolean }}
<br>
{% assign myNil=nil %}
{{ myNil }}

{% if undefinedVariable == nil %}
    <p>{{ product.tags }}</p>
{% endif %}
{% for tag in product.tags %}
  <p>{{ tag }}</p>
{% endfor %}