{%  assign myString="1234" %}
{{ myString }}

{% assign myNumber=123.45 %}
{{ myNumber}}
<br>

{% assign myBoolean=true %}
{{ myBoolean }}
<br>
{% assign myNil=nil %}
{{ myNil }}

<p>{{ product.title }}</p>

<p>{{ product.tags }}</p>